@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="qqqqq">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="grid">
        <div class="block"><a href="./questionnaire.html"><img class="quest" src="./img/pngwing.com.png" alt=""></a></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
</div>

